# This is a basic workflow to help you get started with Actions

name: PR Workflow for API Linting

on:
  pull_request:
    types:
      - opened

jobs:
  send-pull-events:
    name: PR Workflow for API Linting
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
          
      - name: Install Vacuum Lint
        run: curl -fsSL https://quobix.com/scripts/install_vacuum.sh | sh

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35

      - name: List JSON files
        run: |
          echo "Changed JSON files:"
          for file in ${{ steps.changed-files.outputs.json_changed_files }}; do
            echo "$file"
          done

      - name: Analyze the Proxy
        run: |
          echo "Running vacuum lint on JSON files:"
          for file in ${{ steps.changed-files.outputs.json_changed_files }}; do
            vacuum lint -d $file
          done
